*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b
    );
}

.container{
    width:500px;

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 10px 25px rgba(0,0,0,.3);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.search-box{
    display:flex;
    gap:10px;
}

.search-box input{
    flex:1;

    padding:12px;

    border:1px solid #ccc;

    border-radius:8px;
}

.search-box button{
    padding:12px 20px;

    border:none;

    border-radius:8px;

    background:#2563eb;

    color:white;

    cursor:pointer;
}

.profile-card{
    text-align:center;
    margin-top:25px;
}

.profile-card img{
    width:120px;
    height:120px;

    border-radius:50%;

    margin-bottom:15px;
}

.stats{
    display:flex;
    justify-content:space-around;

    margin-top:15px;
}

.stats div{
    background:#f1f5f9;

    padding:10px;

    border-radius:8px;

    width:100px;
}